html,body
{
    width: 100vw;  
    background-color: white;
    color: #000000;
    min-height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.6rem;
    word-spacing: 3px;  
}
img /*taking care of image responsiveness - automatic scaling at resolution change*/
{
    max-width: 100%;
    height:auto;
    width:auto;
}
br
{
    display: none;
}
.clearfix:after, .footer:before  /*solving the problem of zero height*/
{
    content:'';
    display:block;
    clear:both;
}
iframe
{
    border: none;
    width: 100%;
    height: 500px;
}
h1
{
    font-size: 2.04rem;
    margin: 0;
    display: block;
    padding-top:0.85em;  
    width: calc(100vw - 200px);
    margin-left: 200px;    
}
h2
{
    font-size: 1.8rem;
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
    letter-spacing: 0.1rem;
    width: 100%;
    line-height: 1.5;
}
h3
{
    font-size: 1.35rem;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    color:#8c0829;
    padding-bottom: 10px;  
}

            /*PAGE TITLE*/
#bigTitle
{
    background-color: #FFD2E3;
    color: #8C0829;
    height: 100px;
    font-family: 'Chelsea Market', cursive;
    letter-spacing: 0.2rem;    
}
#bigTitle a, #bigTitle a:visited, #bigTitle a:focus, #bigTitle a:active  
{
    color: inherit;
}
#bigTitle > i
{
    margin: 0;
    padding: 0;
    float: left;
    width: 200px;
    padding-top: 15px;
    color: white; 
    height: inherit;
    background-color: #263F93; 
    font-size: 90px;
}

            /* UPPER PANEL */
#mainHeader
{
    width: 100vw;       
}
 /* logo*/
#logo
{
    width: 200px;
    height: 40px;
    background-color: #263F93; 
    font-weight: bold;
} 
/* vertical and horizontal centering */
#logo div
{
    position: relative;       
}
#logo>:first-child>p, #logo>:nth-child(2)>p
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    letter-spacing: 0.1rem;
}
#logo>:nth-child(3)>p 
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
}    
/*end od centering*/
#logo>:first-child
{
    width: 25%;
    height: inherit;
    float: left;
    color: #FFD2E3;  
    text-align: right;
    letter-spacing: 0.1rem;
}
#logo>:nth-child(2)
{
    width: 56%;
    height: inherit;
    float: left;
    color: white;
    font-size: 1.05rem;
    letter-spacing: 0.1rem;
}
#logo>:nth-child(3)
{
    width:19%;
    height: inherit;
    float: left;
    color: #FFD2E3;
    letter-spacing: 0.1rem;
}
/* dropdown top menu*/
#topMenu
{
    height: 40px;
    width: calc(100% - 200px);
    float: left;
    background-color: #8c0829;
}
#topMenu > .menu-icon 
{
   display: none;  
}
#dropDownMenu
{
    width: 400px;
    background-color: #8c0829;
    height: inherit;
    float: right;
}
#dropDownMenu  i
{
    margin: 0;
    float: left;
    font-size: 22px;
    padding-top: 18%;
    height: inherit;
    width: 100%;
}
#dropDownMenu a
{
    text-decoration:none;
    color: white; 
}
#dropDownMenu > li
{
    float: left;
    width: 29%;
    height: 100%;
    position: relative;
}
#dropDownMenu > li:first-child
{
    width: 13%;
}
#dropDownMenu > li > a
{
    display: block;
    height: 100%;
    color: white;
    padding: 8px 0;
}
#dropDownMenu > li > ul
{
    visibility:hidden;
    transform:scaleY(0);
    -webkit-transform:scaleY(0);
    transform-origin:50% 0;
    -webkit-transform-origin:50% 0;
    transition:550ms;
    position:absolute;
    background-color: #FFD2E3;
    z-index: 200;
    min-width: 100%;
}
#dropDownMenu > li > ul > li
{
    box-shadow:0 -4px 4px -4px #AAA;
}
#dropDownMenu > li > ul > li > a 
{
    display:block;
    text-decoration:none;
    padding: 9px;
    color: #8c0829;
    white-space:nowrap;
}
#dropDownMenu > li:hover > ul
{
    visibility:visible;
    transform:scaleY(1);
    -webkit-transform:scaleY(1);
}
#dropDownMenu > li:hover > a, #dropDownMenu > li:hover > i
{
    color: #8c0829;
    background-color:#FFD2E3; 
    box-shadow:0 4px 2px -3px #333 inset;
    font-weight: 700;
}
#dropDownMenu > li:hover > i > a
{
    color: #8c0829;
    background-color:#FFD2E3; 
}
#dropDownMenu > li > ul > li:hover > a 
{
    color:#FFD2E3;
    background-color: #8c0829;
}
#dropDownMenu.show {
    display: block;
    margin: 0;
  }
/* fixed logo & top menu*/
.sticky 
{
    position: fixed;
    top: 0;
    z-index: 100;
}
.sticky + main 
{
    padding-top: 43px;
}

             /*   SIDE PANEL WITH MENU */
#leftBar
{
    position: relative;
    float: left;
}
/*side accordion navigation */ 
#sideNav                
{
    background-color: #8D9FDD;
    width: 200px;
    height: 420px;
    position: absolute;
    top: 40px;
    left: 0;
    z-index:100;
    padding-top: 2rem;
}
#sideNav p, #extraNavbar p
{
    font-family: 'Chelsea Market', cursive;
    letter-spacing: 0.03rem;
    color: #263F93;
}
#accordionNav 
{
    width: 160px;
    margin: 0 auto;
}
.accHeader 
{  
    color: #263F93;
    font-weight: 700;
    cursor: pointer;
    padding: 7px;
    margin: 0;
    position: relative;
    text-align: left;  
    transition: 0.4s;
}
.accContent 
{
    padding: 0 18px;
    background-color: #9FAFE1;
    max-height: 0;
    margin: 0;
    text-align: left;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
} 
.active, .accHeader:hover 
{
    background-color: #9FAFE1;
}
.accHeader:after 
{
    content: '\003E';
    color: #263F93;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after 
{
    content: "\003C";
    display: block ;
    position: absolute;
    width: 12px;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: 4px;
}
.accContent li
{
    padding-bottom: 0.15rem;
}
.accContent a
{   
    text-decoration: none;
    color: #263F93;  
}
.accContent a:hover
{   
    font-size:17.5px; 
    color: #263F93;  
}
/* unnecessary addition */
#quotation
{
    width: 200px;
    height: 120px ;
    position: absolute;
    top: 460px;
    left: 0;
    z-index:100;
    background-color: white;
}
#citation
{
    font-family: Georgia, "Times New Roman", Times;
    font-style: italic;
    color: #333;
    border-left: 5px solid #ddd;
    padding-left: 25px;
    text-align: left;
}
cite, q
{
    margin-top: 10px;
    display: inline-block;
}
cite
{
    font-size: 0.75em;
    color: #777;
}
cite:before {
    content: '—';
    margin-right: 7px;
}

                /*MAIN CONTENT */
main
{
    min-height: 540px;
    width: 100vw;
    margin-left: 210px; 
    margin-right: 26px;
    background-color: white;
    zoom:1; /* clearfix for IE < 8 */
}
/* additional side panel for large resolutions */
#extraNavbar
{
    width: 14vw;
    height: auto;
    float: left;
    /*left: calc(100vw - 12px - 12vw );
    /*full view - scrollbar width - extraNavbar width*/
    margin-top: 25px;
    background-color: white;
} 
#extraNavbar p
{   
    display: block;
    text-align: left;
    padding-left: 15px;
}
#extraNavbar > ul > li > a
{
    display:block;
    text-decoration:none;
    padding-bottom: 10px;
    color: #263F93;
    line-height: 1.35rem;
    cursor: pointer; 
}
#extraNavbar > ul > li > a:hover
{
    font-size: 17px;
    color: #8c0829;
}
#sortList
{
    text-align: left;
    padding-left: 15px;
    padding-right: 10px;
}
/* content */
main>article
{   
    width: calc(100vw - 210px - 26px - 14vw);
    /*full view - (leftBar width +10px) -(scrollbar width +10px) - extraNavbar */
    float: left;
    background-color: white;
    text-align: justify; 
    padding: 15px 30px;
    margin-top: 10px;
}
main>article>div>p
{
    padding-right: 40px;
    margin-top: 20px;
}
main>article>p
{
    margin-top: 20px;
    margin-bottom: 30px;
}
/* film proposition */
.oneFilm
{
    margin: 30px 70px 40px 25px;
    box-shadow: 0 10px 15px -13px #B3B0B0 inset;
}
.oneFilm > div
{
    padding-top: 40px;
}
.filmPoster
{
    float: left;
    width: 150px;
    margin: 8px 50px 15px 0; 
    box-shadow: 8px 8px 8px 1px #B3B0B0;
}
.filmDescription
{
 padding: 15px 0 0 0;   
}
.filmTitle
{
    padding: 5px 80px 0 150px; 
}

.filmTrailer > :first-child, .filmTrailer > small
{
   display: block;
   padding: 30px 0 0 0;
}
.filmTrailer > small
{
    padding-top: 5px;
}
.filmTitle > small
{
    display: inline-block;
    padding: 0 0 10px 10px;
    color:#8c0829;
} 
/* slide show */
#slider
{
    float: right;
    padding: 7px 40px 15px 35px;
}
.slideShow
{
    width: 35vw;
    margin: 0 auto;
}
/* contact form */
.container-fluid
{
    box-shadow: 0 0 11px#0 #DFDDDD inset;
    padding: 15px 20px 30px 40px;
}
.form-control 
{
    border-radius: 15px;
    background-color: #F5FCFF;
    width: 70%;
    font-size: inherit;
}
.btn-primary
{
    font-size: inherit;
}
.error   /* class for form validation*/
{   
    color: rgb(248, 59, 59);
    font-style: italic;
    padding-bottom: 2px;
}

                /*BOTTOM FOOTER */
#mainFooter
{
    color: #777575;
    width: 100vw;
    height: 3vh;
    min-height: 20px;
    clear: both;
    font-size: 13px;
    box-shadow: 0 0 11px#0 #B3B0B0 inset;
}

            /* MEDIA RULES BREAKPOINTS 
    big desktop & the highest resolutions more than 1300px 
    tablet landscape & little desktop 991px-1299px  
    tablet portrait 701px-990px
    phone to 700px
    */
            /*tablets landscape & little desktops*/
@media all and (min-width: 991px) and (max-width: 1299px)
{
    #extraNavbar
    {  display: none; }
    main>article
    {  width: calc(100vw - 210px - 26px); }  
}

            /*tablets portrait*/
@media all and (min-width: 701px) and (max-width: 990px)
{
    html,body
    {   font-size: 15px;}
    iframe
    {   height: 400px;  }
    h1
    {   width: calc(100vw - 160px);
        padding-top: 1.8rem;
        margin-left:  160px;
        font-size: 1.55rem;}
    h2
    {   font-size: 1.5rem;
        letter-spacing: 0.09rem;
        line-height: 1.4; }
    h3
    {   font-size: 1.2rem;  }
    #extraNavbar
    {   display: none; } 
    #logo
    {   width: 160px;
        height: 32px; }
    #logo>:first-child>p, #logo>:nth-child(2)>p
    {   letter-spacing: normal;   }
    #bigTitle
    {   height: 85px;
        letter-spacing: 0.1rem;   }
    #bigTitle > i
    {   width: 160px;
        padding: 0;
        margin: 0;  }
    #bigTitle > i >a
    {   font-size: 80%; }      
    #topMenu
    {   width: calc(100% - 160px); 
        height: 32px; }
    #dropDownMenu
    {   width: 360px; }
    #dropDownMenu  i
    {   font-size: 20px;
        padding-top: 12%;  }
    #dropDownMenu > li > a
    {   padding: 6px 0;  }
    #dropDownMenu > li > ul > li > a 
    {   padding:7px;  }
    .sticky + main 
    {   padding-top: 46px;  }
    main 
    {   margin-left: 170px; }
    main>article
    {   width: calc(100vw - 170px - 26px);
        padding: 15px 15px;  } 
    #sideNav                    
    {   width: 160px;
        height: 380px;
        top: 32px;  }
    #quotation
    {   width: 160px; 
        top: 412px;   }
    #mainFooter
    {   font-size: 12px;   }
    .filmPoster
    {   width: 120px; 
        margin-right: 30px;}
}

            /*phones*/
@media all and (max-width: 700px)
{
    #extraNavbar, #sideNav, #quotation, #NavCrumb
    {   display: none; } 
    body
    {   font-size: 14px;
        overflow-y: hidden; } 
    iframe
    {   height: 260px;  }
    h1
    {   font-size: 1.4rem;
        margin-left: 0;
        width: 100vw;
        line-height: 1.5  }
    br
    {   display: inline;  }
    #leftBar
    {   float: none;   }
    #topMenu
    {   width: auto;
        float: none;   }
    #topMenu .menu-icon
    {   height: 40px ;
        color: #263F93;
        display: inline-block;
        width: 40px;
        background-color: #8D9FDD;  }
    #topMenu .menu-icon i
    {   padding: 7px;    }     
    #dropDownMenu 
    {   width: 100vw;
        float: none;
        display: none;
        position: relative;
        height: auto;  }
    #dropDownMenu > li
    {   display: block;
        height: 40px;
        clear: both;
        width: 100%;
        box-shadow:0 -4px 4px -4px #AAA;   }
    #dropDownMenu > li:nth-child(2)
    {   height: auto;   }
    #dropDownMenu > li:nth-child(2) > a
    {   height: 40px;   }
    #dropDownMenu > li:first-child
    {   width: 100%;   }
    #dropDownMenu > li > ul
    {   visibility:visible ;
        transform: none;
        position: relative;  }   
    #dropDownMenu > li > ul > li 
    {   box-shadow: 0 -4px 4px -4px #AAA;   }
    #dropDownMenu  i
    {   font-size: 20px;
        padding-top: 6px;
        padding-left:11px;   }
    #dropDownMenu  a,  #dropDownMenu > li> a, #dropDownMenu > li > i
    {   text-align: left;   }
    #dropDownMenu > li > a, #dropDownMenu > li > i
    {   padding-left: 40px;   }
    #dropDownMenu > li > ul > li > a
    {   padding-left: 60px;
        color: white; 
        background-color: #8c0829;   }
    #dropDownMenu > li:hover > ul
    {   transform: none;  }
    #dropDownMenu > li:hover > a
    {   box-shadow: none;   }
    #dropDownMenu > li > ul > li:hover > a 
    {   background-color:#8A263F;   }
    #logo
    {   float: left;
        width: calc(100vw - 40px);
        height: 40px;
        padding-left: 25px;   }
    #logo>:first-child
    {   width: 60px ;
        height: inherit;
        float: left;
        color: #FFD2E3;  
        text-align: right;
        letter-spacing: 0.1rem;  }
    #logo>:nth-child(2)
    {   width: 110px;  }
    #logo>:nth-child(3)
    {   padding-left: 10px;   }
    #slider
    {   float: none;
        padding: 0;   }
    .slideShow
    {   width: 100vw;
        margin-bottom: 30px;  }
    #bigTitle
    {   height: 120px;   }
    #bigTitle > i
    {   display: none;  }
    #bigTitle > i >a
    {   font-size: 65%;   } 
    #bigTitle > i >a:hover
    {   text-decoration: none;   } 
    main
    {   margin-left: 0; 
        margin-right: 0;  }
    main>article
    {   width: 100vw;
        padding: 25px 0 10px 0;
        float: none;  } 
    main>article>div>p
    {   padding-right: 0;
        margin-top: 20px;  } 
    .blockOfCategory
    {   padding-left: 20px;
        padding-right: 20px   }
    .oneFilm
    {   margin: 30px 20px 40px 20px;   }
    .oneFilm > div
    {   padding-top: 20px;  }
    .filmPoster 
    {   display: none;}  
    .filmDescription
    {   padding: 5px 20px 0 20px;  }
    .filmTitle
    {   padding: 0 20px 0 20px;  }
    .filmTitle > small
    {   display: block;
        padding: 0 0 10px 0;
        text-align: center;  } 
    .filmTrailer > :first-child, .filmTrailer > small
    {   display: block;
        padding: 20px 20px 0 20px;  }
    #oneCategory
    {   padding: 20px 0;    }
    h2
    {   padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;  
        font-size: 1.3rem;
        letter-spacing: 0.09rem;
        line-height: 1.4;  }
    h3
    {   display: block;
        padding-bottom: 0; 
        font-size: 1.2rem;   }
    .filmTrailer > small
    {   padding-top: 0;  }
    .tz-gallery 
    {   padding-left: 50px;
        padding-right: 50px;  }
    #mainFooter
    {   font-size: 12px;  }
}

    /* Additionally  */
@media all and (max-height: 540px)
{
    #quotation
    {   display: none;  } 
}
@media all and (min-width: 768px) and (max-width: 1100px)
{  /* for photo gallery */
    .col-md-4 
    {   flex: 0 0 50%;
        max-width: 50%;  }
}